<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <!-- name="" musste entfernt werden, da sonst JNDI-Binding erfolgen wollte -->
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ERP_light</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <!-- bei Annotation Mapping müssen die Klassen hier eingetragen werden -->
  <mapping class="at.erplight.model.Adresse"/>
  <mapping class="at.erplight.model.EingangsLieferung"/>
  <mapping class="at.erplight.model.Email"/>
  <mapping class="at.erplight.model.Kategorie"/>
  <mapping class="at.erplight.model.Kundenlieferung"/>
  <mapping class="at.erplight.model.Person"/>
  <mapping class="at.erplight.model.Ort"/>
  <mapping class="at.erplight.model.Land"/>
  <mapping class="at.erplight.model.Lieferliste"/>
  <mapping class="at.erplight.model.Organisation"/>
  <mapping class="at.erplight.model.Rechte"/>
  <mapping class="at.erplight.model.Reporting"/>
  <mapping class="at.erplight.model.Telefon"/>
  <mapping class="at.erplight.model.Typ"/>
  <mapping class="at.erplight.model.Waren"/>
  <mapping class="at.erplight.model.Warenausgang"/>
  <mapping class="at.erplight.model.Wareneingang"/>
 </session-factory>
</hibernate-configuration>
