<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.html"><img alt="view logo" src="../images/VIEW_Logo_4c.png" width="40px" height="25px"></a>
		</div>

		<!-- Collect the navbar links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li id="home_nav"><a href="home.html"><span
						class="glyphicon glyphicon-home"></span> Home</a></li>
				<li id="warenverwaltung_nav"><a id="warenverwaltung_nav_a"
					href="warenverwaltung_wareneingang.html"><span
						class="glyphicon glyphicon-shopping-cart"></span> Warenverwaltung</a></li>
				<li id="adressverwaltung_nav"><a
					href="adressverwaltung_personen.html"><span
						class="glyphicon glyphicon-list-alt"></span> Adressverwaltung</a></li>
				<li id="reporting_nav" class=""><a href="#"><span
						class="glyphicon glyphicon-file"></span> Reporting</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
						<span id="username"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-toggle="modal" id="btn_mydata"
							data-target="#mydata"><span class="glyphicon glyphicon-user"></span>
								Meine Daten</a></li>
						<li><a href="#" data-toggle="modal" id="btn_mypassword"
							data-target="#mypassword"><span
								class="glyphicon glyphicon-lock"></span> Passwort</a></li>
						<li class="divider"></li>
						<li><a href="../rest/logout"><span
								class="glyphicon glyphicon-log-out"></span> Abmelden</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Modal Passwort -->
<div class="modal fade" id="mypassword" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content mypassword">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Mein Passwort</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Altes Passwort</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" id="tbx_oldpassword"
									placeholder="Altes Passwort" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Neues Passwort</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" id="tbx_newpassword"
									placeholder="Neues Passwort" maxlength="100">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Neues Passwort
								best&auml;tigen</label>
							<div class="col-sm-5">
								<input type="password" class="form-control"
									id="tbx_acknewpassword" placeholder="Passwort best&auml;tigen" maxlength="100">
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<div id="passwordAlertForm"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" id="btn_savemypassword"
					class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-save"></span> Speichern
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- My data modal -->
<div class="modal fade" id="mydata" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 670px;	margin-left: -35px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Meine Daten</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="row">
						<div class="col-md-6">
							<input type="hidden" name="tbx_id" id="tbx_id_mydata">
							<div class="form-group">
								<label class="col-sm-4 control-label">Anrede</label>
								<div class="col-sm-8">
									<input name="tbx_salutation" type="text" class="form-control"
										id="tbx_salutation_mydata" placeholder="Anrede" maxlength="10">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Titel</label>
								<div class="col-sm-8">
									<input type="text" name="tbx_title" class="form-control"
										id="tbx_title_mydata" placeholder="Titel" maxlength="10">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Vorname</label>
								<div class="col-sm-8">
									<input name="tbx_firstName" type="text" class="form-control"
										id="tbx_firstName_mydata" placeholder="Vorname" maxlength="100">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Nachname</label>
								<div class="col-sm-8">
									<input type="text" name="tbx_lastName" class="form-control"
										id="tbx_lastName_mydata" placeholder="Nachname" maxlength="100">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Adresse</label>
								<div class="col-sm-8">
									<input name="tbx_address" type="text" class="form-control"
										id="tbx_address_mydata" placeholder="Adresse" maxlength="100">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">PLZ</label>
								<div class="col-sm-8">
									<input name="tbx_zip" type="text" class="form-control"
										id="tbx_zip_mydata" placeholder="PLZ" maxlength="5">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Ort</label>
								<div class="col-sm-8">
									<input name="tbx_city" type="text" class="form-control"
										id="tbx_city_mydata" placeholder="Ort" maxlength="100">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Land</label>
								<div class="col-sm-8">
									<input name="tbx_country" type="text" class="form-control"
										id="tbx_country_mydata" placeholder="Land" maxlength="50">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="col-sm-2 control-label">Bemerkung</label>
								<div class="col-sm-10">
									<input name="tbx_comment_mydata" type="text"
										class="form-control" id="tbx_comment_mydata"
										placeholder="Bemerkung" maxlength="1000">
								</div>
							</div>
						</div>
					</div>

					<div class="row divider-horizontal"></div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Telnnr.</label>
								<div class="col-sm-8">
									<button type="button" id="btn_addphonenumber_mydata"
										class="btn btn-primary">
										<span class="glyphicon glyphicon-plus"></span> Telefonnr.
										hinzuf&uuml;gen
									</button>
								</div>
							</div>
						</div>
					</div>

					<div id="phone_container_mydata"></div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Emailadr.</label>
								<div class="col-sm-8">
									<button type="button" id="btn_addemail_mydata" class="btn btn-primary">
										<span class="glyphicon glyphicon-plus"></span> Email
										hinzuf&uuml;gen
									</button>
								</div>
							</div>
						</div>
					</div>

					<div id="email_container_mydata"></div>

				</form>
			</div>

			<div class="modal-footer">
				<div id="myDataAlertForm"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" id="btn_savemydata" class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-save"></span> Speichern
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
