<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ERP-light</a>
		</div>

		<!-- Collect the navbar links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li id="home_nav"><a href="home.html"><span
						class="glyphicon glyphicon-home"></span> Home</a></li>
				<li id="warenverwaltung_nav"><a href="warenverwaltung_wareneingang.html"><span	
						class="glyphicon glyphicon-shopping-cart"></span> Warenverwaltung</a></li>
				<li id="adressverwaltung_nav"><a href="adressverwaltung_personen.html"><span
						class="glyphicon glyphicon-list-alt"></span> Adressverwaltung</a></li>
				<li id="reporting_nav" class=""><a href="#"><span class="glyphicon glyphicon-file"></span>
						Reporting</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span
						id="username"></span><span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-toggle="modal"
							data-target="#meinedatenModal"><span
								class="glyphicon glyphicon-user"></span> Meine Daten</a></li>
						<li><a href="#" data-toggle="modal"
							data-target="#passwortModal"><span
								class="glyphicon glyphicon-lock"></span> Passwort</a></li>
						<li class="divider"></li>
						<li><a href="../rest/logout"><span
								class="glyphicon glyphicon-log-out"></span> Abmelden</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Modal Passwort -->
<div class="modal fade" id="passwortModal" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content mypassword">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Mein Passwort</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Altes Passwort</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" id="oldpassword"
									placeholder="Altes Passwort">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Neues Passwort</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" id="newpassword"
									placeholder="Neues Passwort">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label class="col-sm-5 control-label">Neues Passwort
								best&auml;tigen</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" id="acknewpassword"
									placeholder="Passwort best&auml;tigen">
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-save"></span> Speichern
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal Meine Daten -->
<div class="modal fade" id="meinedatenModal" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Meine Daten</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Anrede</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_anrede"
										placeholder="Anrede">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Titel</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_titel"
										placeholder="Titel">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Vorname</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_vorname"
										placeholder="Anrede">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Nachname</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_nachname"
										placeholder="Titel">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Adresse</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_adresse"
										placeholder="Anrede">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">PLZ</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_plz"
										placeholder="Titel">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Ort</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_ort"
										placeholder="Anrede">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Land</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_land"
										placeholder="Titel">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Telefonnr.</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_telnr1"
										placeholder="Telefonnr.">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-sm-7">
									<select class="form-control">
										<option>Privat</option>
										<option>Gesch&auml;ftlich</option>
									</select>
								</div>
								<div class="col-sm-5">
									<button type="button" class="btn btn-default">L&ouml;schen</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_telnr2"
										placeholder="Telefonnr.">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-sm-7">
									<select class="form-control">
										<option>Privat</option>
										<option>Gesch&auml;ftlich</option>
									</select>
								</div>
								<div class="col-sm-5">
									<button type="button" class="btn btn-default" id="btn_delete">L&ouml;schen</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-4"></div>
								<div class="col-sm-3">
									<button type="button" class="btn btn-default">Telefonnr.
										hinzuf&uuml;gen</button>
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Mailadressen</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_mailadresse"
										placeholder="Telefonnr.">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-sm-7">
									<select class="form-control">
										<option>Privat</option>
										<option>Gesch&auml;ftlich</option>
									</select>
								</div>
								<div class="col-sm-5">
									<button type="button" class="btn btn-default">L&ouml;schen</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label"></label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="tbx_telnr"
										placeholder="Telefonnr.">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-sm-7">
									<select class="form-control">
										<option>Privat</option>
										<option>Gesch&auml;ftlich</option>
									</select>
								</div>
								<div class="col-sm-5">
									<button type="button" class="btn btn-default">L&ouml;schen</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-4"></div>
								<div class="col-sm-3">
									<button type="button" class="btn btn-default">Mailadresse
										hinzuf&uuml;gen</button>
								</div>
								<div class="col-md-3"></div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-save"></span> Speichern
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->