@CHARSET "UTF-8";

[disabled] {
  pointer-events: none;
}

.modalPosition{
	width: 700px;
  	margin-left: -50px;
}

/* Nav-tabs */
.nav-tabs > li > a {	
	color: #333; /*Change active text color here*/
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #FFF;
  background-color: #45A12B;
  
}

/* hover tab color */
.nav-tabs>li>a:hover {
  background-color: #45A12B;
  color: #FFF;
}

.newposition{
	margin-top: 5px;
	margin-bottom: 5px;
}

.addbutton{
	margin-top: 5px;
	margin-bottom: 5px;
}

.dispositionButton {
	width: 120px;
	position: relative;
	left: 50%;
	margin: 5px 0px 0px -60px;
}

.suchfilter{
	width: 250px;
	margin: 5px;
}

.typfilter{
    margin-right: 5px;
}

/* Table */
.TableHead{	
	background-color: #999;
}

#incomingDeliveryTable{
	height: 310px !important;
	max-width: 1140px !important;
    overflow: scroll;
	overflow-x: hidden;
}

#newIncomingDeliveryTable{
	height: 325px !important;
	max-width: 1140px !important;
    overflow: scroll;
	overflow-x: hidden;
}

#outgoingDeliveryTable{
	height: 310px !important;
	max-width: 1140px !important;
    overflow: scroll;
	overflow-x: hidden;
}

.newOutgoingDeliveryTable{
	height: 315px !important;
	max-width: 1140px !important;
    overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #999;
}

#deliveryListTable{
	height: 310px !important;
	max-width: 1140px !important;
    overflow: scroll;
	overflow-x: hidden;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #45A12B;
  color: #FFF;
}
/* Table end */

.bottom{
    margin-top: 5px;	
}

.centered{
    margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.modalrow{
	margin-bottom: 5px;	
}

.table-striped tbody tr.highlight td { 
    background-color: #45A12B;
	color: #FFF;
}

.ModalDivContainer{
	height: 80px;
	overflow-y: auto;
}

.boxElement_person{
	border-bottom: 1px solid #ccc;
}

.boxElement_category{
	border-bottom: 1px solid #ccc;
}

.boxElement_deliverer{
	border-bottom: 1px solid #ccc;
}

.boxElement_receiver{
	border-bottom: 1px solid #ccc;
}
